<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d0e0ff;">
  <a class="navbar-brand" routerLink="/">
    <span class="text-monospace text-muted">Logo</span>
  </a>

  <div class="col d-lg-none">
    <input class="form-control form-control-sm rounded-pill" type="search" placeholder="Buscar productos">
  </div>
  <div class="w-100 d-none d-lg-block">
    <input class="form-control form-control-sm rounded-pill" type="search" placeholder="Buscar productos">
  </div>

  <div id="ex4" class="order-lg-1">
    <a data-toggle="collapse" href="#collapseResumen" class="text-reset">
      <span class="p1 fa-stack has-badge" [attr.data-count]="numPedidos">
        <!--<i class="p2 fa fa-circle fa-stack-2x"></i>-->
        <i class="p3 fa fa-shopping-cart fa-stack-1x xfa-inverse"></i>
      </span>
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="small"><i class="fas fa-list"></i></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:" id="navbarDropdown" role="button" data-toggle="dropdown">
          Categorías
        </a>
        <div id="nav-categorias" class="dropdown-menu" data-toggle="collapse" data-target="#navbarSupportedContent">
          <a class="dropdown-item" href="#for-clientes">Para clientes</a>
          <a class="dropdown-item" href="#for-veterinaria">Veterinaria</a>
          <a class="dropdown-item" href="#for-agricola">Agricola</a>
          <a class="dropdown-item" href="#for-accesorios">Accesorios</a>
          <a class="dropdown-item" href="#for-buy-again">Comprar de nuevo</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:" id="navbarDropdown" role="button" data-toggle="dropdown">
          Zennil <span><i class="fas fa-user"></i></span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:">Ver perfil</a>
          <a class="dropdown-item" routerLink="/crear">Ofertas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/crear-pedido">Cerrar sesion</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:" tabindex="-1">Pedidos</a>
      </li>
    </ul>
  </div>
</nav>