<footer class="container-fluid pt-4 mt-5 border-top">
  <div class="row justify-content-around">
    <div class="col-12 col-md-2">
      <small class="d-block text-muted">© 2018-2019</small>
    </div>
    <div class="col-6 col-md-2">
      <h5 class="border-bottom">Ubicación</h5>
      <ul class="list-unstyled">
        <li>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <h5 class="border-bottom">Recursos</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#" class="text-muted">Voluptates</a></li>
        <li><a href="#" class="text-muted">Expedita</a></li>
        <li><a href="#" class="text-muted">Eveniet</a></li>
        <li><a href="#" class="text-muted">Omnis</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <h5 class="border-bottom">Acerca de</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#" class="text-muted">Tenetur</a></li>
        <li><a href="#" class="text-muted">Consequatur</a></li>
        <li><a href="#" class="text-muted">Illum nostrum</a></li>
        <li><a href="#" class="text-muted">Rem quos</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-2">
      <h5 class="border-bottom">Lada sin costo</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#" class="text-muted">01 800 123456</a></li>
      </ul>
    </div>
  </div>
</footer>