<footer class="container-fluid pt-4 border-top">
  <div class="row justify-content-around">
    <div class="col-12 col-md-3 pb-3">
      <small class="d-block text-muted">© 2020</small>
    </div>
    <div class="col-6 col-md-3">
      <h5 class="border-bottom">Ubicación</h5>
      <ul class="list-unstyled">
        <li>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum esse, deserunt
            reprehenderit saepe eaque perferendis libero odio ipsum cumque officia maxime sit, voluptas ipsa, amet ut
            necessitatibus quae asperiores a!</p>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3">
      <h5 class="border-bottom">Directorio</h5>
      <ul class="list-unstyled text-small">
        <li>
          <p class="text-muted"> Incidunt ratione quidem et enim aperiam porro eos nulla laboriosam ab ut itaque animi
            at in, sit temporibus dolorum accusantium repellat quisquam dolores sint!</p>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3">
      <h5 class="border-bottom">Lada sin costo</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#" class="text-muted">01 800 123456</a></li>
      </ul>
    </div>
  </div>
</footer>